:root {
  --backgroundColor: #90fcf9;
  --textPrimary: #ffffff;
  --textSecondary: #1d1e2c;
  --button: #9448bc;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.big-container {
  display: flex;
  flex-flow: row;
}
.single-table-view {
  display: flex;
  flex-flow: column wrap;
  background-color: antiquewhite;
  flex-basis: 50%;
}
.query-table {
}

.query-row {
}
.filter-toggle {
}
.filter-form {
}
.aggregate-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sorts {
}
.order-by-form {
}
.group-by-form {
}
.sort-checkbox {
}
.direction-select {
}
