:root {
  --backgroundColor: #90fcf9;
  --textPrimary: #ffffff;
  --textSecondary: #1d1e2c;
  --button: #9448bc;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
/* 
.direction-select {
  display: none;
}

.Order-by:focus-within > .direction-select {
  display: inline;
  position: absolute;
} */
